/* SERVICES */
.fixed-button-services{
  position: relative;
}
.fixed-button-services a > div{
  padding: 8px 15px;
  background: #0B4F57;
  color: #FFF;
  border-radius: 20px;
  position: absolute;
  left: 20%;
  top: -20px;
  cursor: pointer;
}
.fixed-button-services a > div:hover{
  color: #FDF7E8;
}
.services-head-class{
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.hero{
  padding-top: 0px;
}
/*.bottom-text{
  margin-top: 20px;
}
.menu-items-font li{
  font-size: 14px;
}
.section.all-services > div:nth-child(1){
  flex-basis: 0%;
}
.section.all-services > div:nth-child(2){
  flex-basis: 70%;
}
.all-services .title{
  color: #0B4F57;
}
.menu-list li ul{
  border: 0;
}*/
@media (max-width: 768px){
  .fixed-button-services a > div{
    left: 2%;
  }
}
/* SERVICES */
